* {
    box-sizing: border-box;
    font-size: 1.08em;
}

body{
    background: linear-gradient(to right, #1d1d1d 0%, #0f0f0f 100%);
    
}

main {
    display: grid;
    grid-template-columns: 5fr 1fr;
}

section.videoPrincipal, section.videoAlt { 
    display: flex;
    justify-content: left;
    padding-left: 5vw;
    align-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #1d1d1d 0%, #0f0f0f 100%);
    padding-top: 5%;
    font-family: sans-serif;
}

section.videoAlt video {
    width: 500px; 
}

div.ia21-player {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 1200px; 
    border-radius: 5px 5px 5px 5px ;
}

div.ia21-player video {
    width: 100%;
    border-radius: 5px 5px 0px 0px ;
}

div.ia21-player div.controllers { 
    display: flex;
    border-top: 1px solid black;
    column-gap: 1em;
    padding-right: 1em;
    background-color: white;
    border-radius: 0px 0px 5px 5px;
}

div.ia21-player div.controllers button.play-pause {
    background-color: transparent;
    border: 0 none;
    border-right: 1px solid black;
    cursor: pointer;
}

div.ia21-player div.controllers div.dragbar {
    flex-grow: 1;
    position: relative;
    
}

div.ia21-player div.controllers div.dragbar:before {
    content: " ";
    position: absolute;
    top: calc(50% - .5px);
    border-top: 1px solid red;
    width: 100%;
}

div.ia21-player div.controllers div.dragbar div.draggable {
    --percent: 0%;
    background-color: red;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: calc(50% - .25rem);
    left: calc(var(--percent) - .25rem);
    pointer-events: none;
}

div.ia21-player div.controllers div.dragbar.timeline {
  width: 40%;
}

div.ia21-player div.controllers div.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;
  padding-right: 0.8em
}